<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="lib/css :: css(~{::title},~{})">
    <title>商品分类管理</title>
</head>
<body>
<div id="main" v-cloak>
    <el-row class="toolbar">
        <el-col :span="5">
            <el-input placeholder="请输入内容" v-model="queryParams.text" size="medium" class="input-with-select">
                <el-select v-model="queryParams.field" slot="prepend" placeholder="请选择">
                    <el-option label="名称" value="name"></el-option>
                    <el-option label="关键字" value="keywords"></el-option>
                    <el-option label="介绍" value="frontDesc"></el-option>
                    <el-option label="排序" value="orderNum"></el-option>
                    <el-option label="" value="showIndex"></el-option>
                    <el-option label="轮播图片" value="bannerUrl"></el-option>
                    <el-option label="图标" value="iconUrl"></el-option>
                    <el-option label="图片" value="imgUrl"></el-option>
                    <el-option label="app轮播图" value="wapBannerUrl"></el-option>
                    <el-option label="" value="level"></el-option>
                    <el-option label="类型" value="type"></el-option>
                    <el-option label="名称" value="frontName"></el-option>
                </el-select>
                <el-button slot="append" @click="loadData" icon="el-icon-search"></el-button>
            </el-input>
        </el-col>
        <el-col :span="18" :offset="1">
            <el-button type="success" @click="openAddFormDialogSame" size="medium"><i
                    class="el-icon-plus">新增同级分类</i></el-button>
            <el-button type="warning" @click="openAddFormDialogChild" size="medium"><i
                    class="el-icon-plus">新增下级分类</i></el-button>
            <el-button type="danger" @click="deleteData" size="medium"><i class="el-icon-delete"></i>删除</el-button>
        </el-col>
    </el-row>
    <el-row class="data">
        <el-table size="mini"
                  border
                  v-loading="tableLoading"
                  @selection-change="selectedChange"
                  :data="tableData" :default-sort="{prop: 'id', order: 'desc'}"
                  @sort-change="sortChange"
                  style="width: 100%">
            <el-table-column
                    type="selection"
                    width="50">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    :index="generatorIndex">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="名称">
                <div th:replace="common/component :: treeColumn"></div>
            </el-table-column>
            <el-table-column
                    prop="keywords"
                    label="关键字">
            </el-table-column>
            <el-table-column
                    prop="frontDesc"
                    label="介绍">
            </el-table-column>
            <el-table-column
                    prop="orderNum"
                    label="排序"
                    width="60">
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="类型">
            </el-table-column>
            <el-table-column
                    prop="frontName"
                    label="名称">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="状态"
                    width="60">
                <template slot-scope="scope">
                    <el-tag
                            size="mini" :type="tagTypeList[scope.row.status]">
                        {{statusList[scope.row.status]}}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="updateTime"
                    label=""
                    sortable="custom"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="updateName"
                    label="操作人">
            </el-table-column>
            <el-table-column width="100"
                             label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini" type="success"
                            @click="openTab('/shop/editgoodscategory/'+scope.row.id,'编辑商品类型')">编辑
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <div th:replace="common/component :: pagination"></div>
    <el-dialog top="4vh" title="新增" :modal="false" :open="addDialogOpen" :visible.sync="visible.addFormVisible">
        <el-form v-loading="formLoading" :rules="addRules" ref="addForm" :model="addFormData" label-width="80px"
                 size="medium" hide-required-asterisk>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="名称" prop="name">
                        <el-input v-model="addFormData.name" placeholder="名称"></el-input>
                    </el-form-item>
                    <el-form-item label="关键字" prop="keywords">
                        <el-input v-model="addFormData.keywords" placeholder="关键字"></el-input>
                    </el-form-item>
                    <el-form-item label="介绍" prop="frontDesc">
                        <el-input v-model="addFormData.frontDesc" placeholder="介绍"></el-input>
                    </el-form-item>
                    <el-form-item label="轮播图片" prop="bannerUrl">
                        <upload-image v-model="addFormData.bannerUrl" :image.sync="addFormData.bannerUrl"></upload-image>
                    </el-form-item>
                    <el-form-item label="图标" prop="iconUrl">
                        <upload-image v-model="addFormData.iconUrl" :image.sync="addFormData.iconUrl"></upload-image>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="图片" prop="imgUrl">
                        <upload-image v-model="addFormData.imgUrl" :image.sync="addFormData.imgUrl"></upload-image>
                    </el-form-item>
                    <el-form-item label="app图片" prop="wapBannerUrl">
                        <upload-image v-model="addFormData.wapBannerUrl" :image.sync="addFormData.wapBannerUrl"></upload-image>
                    </el-form-item>
                    <el-form-item label="状态">
                        <el-radio-group v-model="addFormData.status" size="medium">
                            <el-radio-button v-for="(item,index) in statusList" :label="index"
                                             size="medium">{{item}}
                            </el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible.addFormVisible = false">取 消</el-button>
            <el-button @click="resetForm('addForm')">重置</el-button>
            <el-button type="primary" @click="saveFormData('addForm')">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog top="4vh" title="修改" :modal="false" :visible.sync="visible.editFormVisible">
        <el-form v-loading="formLoading" ref="editForm" :rules="addRules" :model="editFormData" label-width="80px"
                 size="medium" hide-required-asterisk>
            <el-row>
                <el-col :span="12">
                    <el-form-item label="名称" prop="name">
                        <el-input v-model="editFormData.name" placeholder="名称"></el-input>
                    </el-form-item>
                    <el-form-item label="关键字" prop="keywords">
                        <el-input v-model="editFormData.keywords" placeholder="关键字"></el-input>
                    </el-form-item>
                    <el-form-item label="介绍" prop="frontDesc">
                        <el-input v-model="editFormData.frontDesc" placeholder="介绍"></el-input>
                    </el-form-item>
                    <el-form-item label="轮播图片" prop="bannerUrl">
                        <upload-image v-model="editFormData.bannerUrl" :image.sync="editFormData.bannerUrl"></upload-image>
                    </el-form-item>
                    <el-form-item label="图标" prop="iconUrl">
                        <upload-image v-model="editFormData.iconUrl" :image.sync="editFormData.iconUrl"></upload-image>
                    </el-form-item>
                </el-col>
                <el-col :span="12">
                    <el-form-item label="图片" prop="imgUrl">
                        <upload-image v-model="editFormData.imgUrl" :image.sync="editFormData.imgUrl"></upload-image>
                    </el-form-item>
                    <el-form-item label="app图片" prop="wapBannerUrl">
                        <upload-image v-model="editFormData.wapBannerUrl" :image.sync="editFormData.wapBannerUrl"></upload-image>
                    </el-form-item>
                    <el-form-item label="名称" prop="frontName">
                        <el-input v-model="editFormData.frontName" placeholder="名称"></el-input>
                    </el-form-item>
                    <el-form-item label="状态">
                        <el-radio-group v-model="editFormData.status" size="medium">
                            <el-radio-button v-for="(item,index) in statusList" :label="index"
                                             size="medium">{{item}}
                            </el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible.editFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateFormData('editForm')">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog top="4vh" title="详情" :modal="false" :visible.sync="visible.detailsVisible">
        <el-row v-loading="formLoading">
            <el-col :span="12">
                <table class="details-table">
                    <tbody>
                    <tr>
                        <td>名称:</td>
                        <td>{{detailsData.name}}</td>
                    </tr>
                    <tr>
                        <td>关键字:</td>
                        <td>{{detailsData.keywords}}</td>
                    </tr>
                    <tr>
                        <td>介绍:</td>
                        <td>{{detailsData.frontDesc}}</td>
                    </tr>
                    <tr>
                        <td>类型:</td>
                        <td>{{detailsData.type}}</td>
                    </tr>
                    <tr>
                        <td>名称:</td>
                        <td>{{detailsData.frontName}}</td>
                    </tr>

                    </tbody>
                </table>
            </el-col>
            <el-col :span="12">
                <table class="details-table">
                    <tbody>
                    <tr>
                        <td>:</td>
                        <td>
                            <el-tag size="mini" :type="tagTypeList[detailsData.status]">
                                {{statusList[detailsData.status]}}
                            </el-tag>
                        </td>
                    </tr>
                    <tr>
                        <td>:</td>
                        <td>{{detailsData.createTime}}</td>
                    </tr>
                    <tr>
                        <td>:</td>
                        <td>{{detailsData.updateTime}}</td>
                    </tr>
                    <tr>
                        <td>操作人:</td>
                        <td><a class="m-link"
                               @click="queryUserInfo(detailsData.createId)">{{detailsData.createName}}</a></td>
                    </tr>
                    <tr>
                        <td>更新人:</td>
                        <td><a class="m-link"
                               @click="queryUserInfo(detailsData.updateId)">{{detailsData.updateName}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible.detailsVisible = false">关闭</el-button>
        </div>
    </el-dialog>
    <div th:replace="common/component :: exportDialog"></div>
    <div th:replace="common/component :: userInfo"></div>
</div>
<div th:include="lib/js :: js"></div>
<script th:src="@{/static/goods/goodscategory.js}"></script>
</body>
</html>
