var vm = new Vue(extend(common,{
    data: {
        baseUrl: '/${module}/${pathName}',
        addRules: {
#foreach($column in $addFormColumns)
    #if( !$column.isAutoIncrement)
        ${column.columnName}: [
            {required: true, message: '${column.comment}不能为空'}
        ]#if($velocityCount != $columns.size()),
    #end
    #end
#end
        },
        exportFields: [
#foreach($column in $displayColumns)
       {key: '${column.columnName}', label: '${column.comment}'}#if($velocityCount != $columns.size()),
#end
#end
        ]
    },
    methods: {

    }
}));
