<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:include="lib/css :: css(~{::title},~{})">
    <title>短信日志管理</title>
</head>
<body>
<div id="main" v-cloak>
    <el-row class="toolbar">
        <el-col :span="5">
            <el-input placeholder="请输入内容" v-model="queryParams.text" size="medium" class="input-with-select">
                <el-select v-model="queryParams.field" slot="prepend" placeholder="请选择">
                                            <el-option label="短信内容" value="content"></el-option>
                                            <el-option label="接收方" value="phone"></el-option>
                                            <el-option label="用户签名" value="sign"></el-option>
                                            <el-option label="类型" value="type"></el-option>
                                            <el-option label="扩展码" value="extno"></el-option>
                                            <el-option label="发送编号" value="sendId"></el-option>
                                            <el-option label="失败数量" value="invalidNum"></el-option>
                                            <el-option label="失败数量" value="successNum"></el-option>
                                            <el-option label="黑名单数" value="blackNum"></el-option>
                                            <el-option label="返回消息" value="returnMsg"></el-option>
                                    </el-select>
                <el-button slot="append" @click="loadData" icon="el-icon-search"></el-button>
            </el-input>
        </el-col>
        <el-col :span="5" :offset="1">
            <el-button type="success" @click="visible.addFormVisible = true" size="medium"><i
                    class="el-icon-plus">新增</i></el-button>
            <el-button type="danger" @click="deleteData" size="medium"><i class="el-icon-delete"></i>删除</el-button>
        </el-col>
        <div th:replace="common/component :: toolbar"></div>
    </el-row>
    <el-row class="data">
        <el-table size="mini"
                  border
                  v-loading="tableLoading"
                  @selection-change="selectedChange"
                  :data="tableData" :default-sort="{prop: 'id', order: 'desc'}"
                  @sort-change="sortChange"
                  style="width: 100%">
            <el-table-column
                    type="selection"
                    width="50">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    :index="generatorIndex">
            </el-table-column>
                                                <el-table-column
                            prop="content"
                            label="短信内容">
                    </el-table-column>
                                                                <el-table-column
                            prop="phone"
                            label="接收方">
                    </el-table-column>
                                                                <el-table-column
                            prop="sign"
                            label="用户签名">
                    </el-table-column>
                                                                <el-table-column
                            prop="type"
                            label="类型">
                    </el-table-column>
                                                                <el-table-column
                            prop="extno"
                            label="扩展码">
                    </el-table-column>
                                                                <el-table-column
                            prop="status"
                            label="发送状态"
                            width="60">
                        <template slot-scope="scope">
                            <el-tag
                                    size="mini" :type="tagTypeList[scope.row.status]">
                                {{statusList[scope.row.status]}}
                            </el-tag>
                        </template>
                    </el-table-column>
                                                                <el-table-column
                            prop="sendId"
                            label="发送编号">
                    </el-table-column>
                                                                <el-table-column
                            prop="invalidNum"
                            label="失败数量">
                    </el-table-column>
                                                                <el-table-column
                            prop="successNum"
                            label="失败数量">
                    </el-table-column>
                                                                <el-table-column
                            prop="blackNum"
                            label="黑名单数">
                    </el-table-column>
                                                                <el-table-column
                            prop="returnMsg"
                            label="返回消息">
                    </el-table-column>
                                                                <el-table-column
                            prop="updateTime"
                            label="更新时间"
                            sortable="custom"
                            width="150">
                    </el-table-column>
                                                                <el-table-column
                            prop="updateName"
                            label="操作人">
                    </el-table-column>
                                        <el-table-column width="150"
                             label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini" type="success"
                            @click="updateDialogOpen(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini" type="info"
                            @click="detailsDialogOpen(scope.$index, scope.row)">详情
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
            <div th:replace="common/component :: pagination"></div>
        <el-dialog top="4vh" title="新增" :modal="false" :open="addDialogOpen" :visible.sync="visible.addFormVisible">
        <el-form v-loading="formLoading" :rules="addRules" ref="addForm" :model="addFormData" label-width="80px"
                 size="medium" hide-required-asterisk>
            <el-row>
                <el-col :span="12">
                                                                                                        <el-form-item label="短信内容" prop="content">
                                    <el-input v-model="addFormData.content"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="接收方" prop="phone">
                                    <el-input v-model="addFormData.phone"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="用户签名" prop="sign">
                                    <el-input v-model="addFormData.sign"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="类型" prop="type">
                                    <el-input v-model="addFormData.type"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="扩展码" prop="extno">
                                    <el-input v-model="addFormData.extno"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="发送状态">
                                    <el-radio-group v-model="addFormData.status" size="medium">
                                        <el-radio-button v-for="(item,index) in statusList" :label="index"
                                                         size="medium">{{item}}</el-radio-button>
                                    </el-radio-group>
                                </el-form-item>
                                                                                                                                                                                                                                                                                                                    </el-col>
                <el-col :span="12">
                                                                                                                                                                                                                                                                                                                                                                                <el-form-item label="发送编号" prop="sendId">
                                    <el-input v-model="addFormData.sendId"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="失败数量" prop="invalidNum">
                                    <el-input v-model="addFormData.invalidNum"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="失败数量" prop="successNum">
                                    <el-input v-model="addFormData.successNum"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="黑名单数" prop="blackNum">
                                    <el-input v-model="addFormData.blackNum"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="返回消息" prop="returnMsg">
                                    <el-input v-model="addFormData.returnMsg"></el-input>
                                </el-form-item>
                                                                                        </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible.addFormVisible = false">取 消</el-button>
            <el-button @click="resetForm('addForm')">重置</el-button>
            <el-button type="primary" @click="saveFormData('addForm')">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog top="4vh" title="修改" :modal="false" :visible.sync="visible.editFormVisible">
        <el-form v-loading="formLoading" ref="editForm" :rules="addRules" :model="editFormData" label-width="80px"
                 size="medium" hide-required-asterisk>
            <el-row>
                <el-col :span="12">
                                                                                                        <el-form-item label="短信内容" prop="content">
                                    <el-input v-model="editFormData.content"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="接收方" prop="phone">
                                    <el-input v-model="editFormData.phone"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="用户签名" prop="sign">
                                    <el-input v-model="editFormData.sign"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="类型" prop="type">
                                    <el-input v-model="editFormData.type"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="扩展码" prop="extno">
                                    <el-input v-model="editFormData.extno"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="发送状态">
                                    <el-radio-group v-model="editFormData.status" size="medium">
                                        <el-radio-button v-for="(item,index) in statusList" :label="index"
                                                         size="medium">{{item}}</el-radio-button>
                                    </el-radio-group>
                                </el-form-item>
                                                                                                                                                                                                                                                                                                                    </el-col>
                <el-col :span="12">
                                                                                                                                                                                                                                                                                                                                                                                <el-form-item label="发送编号" prop="sendId">
                                    <el-input v-model="editFormData.sendId"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="失败数量" prop="invalidNum">
                                    <el-input v-model="editFormData.invalidNum"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="失败数量" prop="successNum">
                                    <el-input v-model="editFormData.successNum"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="黑名单数" prop="blackNum">
                                    <el-input v-model="editFormData.blackNum"></el-input>
                                </el-form-item>
                                                                                                                                                            <el-form-item label="返回消息" prop="returnMsg">
                                    <el-input v-model="editFormData.returnMsg"></el-input>
                                </el-form-item>
                                                                                        </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible.editFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="updateFormData('editForm')">确 定</el-button>
        </div>
    </el-dialog>
    <el-dialog top="4vh" title="详情" :modal="false" :visible.sync="visible.detailsVisible">
        <el-row v-loading="formLoading">
            <el-col :span="12">
                <table class="details-table">
                    <tbody>
                                                                                <tr>
                                <td>短信内容:</td>
                                <td>{{detailsData.content}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>接收方:</td>
                                <td>{{detailsData.phone}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>发送时间:</td>
                                <td>{{detailsData.createTime}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>用户签名:</td>
                                <td>{{detailsData.sign}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>类型:</td>
                                <td>{{detailsData.type}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>扩展码:</td>
                                <td>{{detailsData.extno}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>发送状态:</td>
                                <td>
                                    <el-tag size="mini" :type="tagTypeList[detailsData.status]">
                                        {{statusList[detailsData.status]}}
                                    </el-tag>
                                </td>
                            </tr>
                                                                                                            <tr>
                                <td>发送编号:</td>
                                <td>{{detailsData.sendId}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>失败数量:</td>
                                <td>{{detailsData.invalidNum}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>失败数量:</td>
                                <td>{{detailsData.successNum}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>黑名单数:</td>
                                <td>{{detailsData.blackNum}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>返回消息:</td>
                                <td>{{detailsData.returnMsg}}</td>
                            </tr>
                                                                                                            <tr>
                                <td>更新时间:</td>
                                <td>{{detailsData.updateTime}}</td>
                            </tr>
                                                                        </tbody>
                </table>
            </el-col>
            <el-col :span="12">
                <table class="details-table">
                    <tbody>
                                                <tr>
                            <td>操作人:</td>
                            <td><a class="m-link"
                                   @click="queryUserInfo(detailsData.createId)">{{detailsData.createName}}</a></td>
                        </tr>
                        <tr>
                            <td>更新人:</td>
                            <td><a class="m-link"
                                   @click="queryUserInfo(detailsData.updateId)">{{detailsData.updateName}}</a></td>
                        </tr>
                                            </tbody>
                </table>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button @click="visible.detailsVisible = false">关闭</el-button>
        </div>
    </el-dialog>
    <div th:replace="common/component :: exportDialog"></div>
    <div th:replace="common/component :: userInfo"></div>
</div>
<div th:include="lib/js :: js"></div>
<script th:src="@{/static/logs/smslog.js}"></script>
</body>
</html>
